@import '../src/tailwind.css';

@layer base {
  svg {
    display: initial;
  }

  body[data-theme='yellow'] {
    --color-primary-50: var(--color-yellow-50);
    --color-primary-100: var(--color-yellow-100);
    --color-primary-200: var(--color-yellow-200);
    --color-primary-300: var(--color-yellow-300);
    --color-primary-400: var(--color-yellow-400);
    --color-primary-500: var(--color-yellow-500);
    --color-primary-600: var(--color-yellow-600);
    --color-primary-700: var(--color-yellow-700);
    --color-primary-800: var(--color-yellow-800);
    --color-primary-900: var(--color-yellow-900);
    --color-primary-950: var(--color-yellow-950);
  }

  body[data-theme='blue'] {
    --color-primary-50: var(--color-sky-50);
    --color-primary-100: var(--color-sky-100);
    --color-primary-200: var(--color-sky-200);
    --color-primary-300: var(--color-sky-300);
    --color-primary-400: var(--color-sky-400);
    --color-primary-500: var(--color-sky-500);
    --color-primary-600: var(--color-sky-600);
    --color-primary-700: var(--color-sky-700);
    --color-primary-800: var(--color-sky-800);
    --color-primary-900: var(--color-sky-900);
    --color-primary-950: var(--color-sky-950);
  }
}

div[data-reach-dialog-overlay] {
  @apply bg-gray-900/90;
}
div[data-reach-dialog-content] {
  width: calc(100% - 42px);
}

div[role='dialog'] {
  @apply shadow-th;
}

.ladle-wrapper {
  @apply prose dark:prose-invert max-w-full;
}

.ladle-main {
  @apply flex flex-col;
}

.ladle-aside {
  @apply capitalize;
}

.ladle-aside,
.ladle-aside input {
  @apply bg-[color:var(--ladle-bg-color-secondary)];
}

.ladle-addons {
  @apply mt-8;
}

@media (min-width: 768px) {
  .ladle-wrapper {
    @apply pb-[4.5rem];
  }

  .ladle-addons {
    @apply w-full p-4 m-0 bg-th border-t border-gray-300 dark:border-gray-700;
  }

  div[data-reach-dialog-content] {
    @apply bottom-16 w-[auto];
  }
}

body {
  --ladle-main-padding-mobile: 2rem;
}

.ladle-controls-table select,
.ladle-controls-table input {
  @apply bg-th;
}

@media (prefers-color-scheme: dark) {
  body {
    --ladle-bg-color-primary: var(--color-gray-900);
    --ladle-bg-color-secondary: var(--color-gray-800);
    --ladle-color-primary: var(--color-gray-400);
    --ladle-color-hover: var(--color-gray-200);
    --ladle-color-accent: var(--color-primary-400);
  }

  pre {
    @apply !bg-gray-300;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --ladle-bg-color-primary: var(--color-gray-50);
    --ladle-bg-color-secondary: var(--color-gray-200);
    --ladle-color-primary: var(--color-gray-500);
    --ladle-color-hover: var(--color-gray-700);
    --ladle-color-accent: var(--color-primary-500);
  }
}
